@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,100;1,400&display=swap');

:root {
  --main-bg-color: rgb(50, 50, 50);
  --accent-bg-color: rgb(47, 180, 89);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", san-serif;
}
/** ASIDE SECTION - START */
#aside {
  display: none;
  font-size: 18px;
}
.nav ul {
  text-align: left;
}
.nav ul li{
  display: block;
  width: 100%;
  list-style-type: none;
}
.nav ul li a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  font-size: 18px;
}
#aside h2 {
  background-color: var(--accent-bg-color);
  color: #fff;
  padding: .8em 0;
  font-weight: 400;
  font-size: 18px;
}
/** MAIN SECTION - START */
#main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}
#main-nav {
  background-color: transparent;
  position: absolute;
  padding: 1em;
  
}
#main-nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  gap: 1em;
}
#main-nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
/** INTRO SECTION - START */
#intro {
  display: flex;
  align-content: center;
  height: 100vh;
  color: #fff;
  font-size: 18px;
  background-color: var(--main-bg-color);
}
#intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 2em;
}
#intro h1 {
  font-size: 3em;
}
#intro span {
  color: var(--accent-bg-color);
}
.btn {
  background-color: var(--accent-bg-color);
  color: #fff;
  padding: .8em 0;
  max-width:300px;
}
.btn:hover{
  scale: 102%;
  background-color: var(--accent-bg-color);
}
/** ABOUT ME SECTION - START */
#about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 6em 1em;
  gap: 2em;
  height: auto;
}
#about .img-cont {
  margin: 0 auto;
  width: 400px;
  max-width: 500px;
  padding: 3em 0em 0em 0em;
}
#about-para {
  min-width: 300px;
}
#about h1 {
  padding: 1em 0 0 0;
  color: rgb(203, 203, 203);
}
#social-cont ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: auto;
  list-style-type: disc;
  gap: 1em;
  font-weight: 600;
}
@media screen and (min-width:987px) {
  #intro-container {
    width: 60%;
  }
}
@media screen and (min-width:768px) {
  #aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 210px;
    text-align: center;
    background-color: var(--main-bg-color);
  }
  #main, #intro, #about {
    margin-left: 210px;
  }
  #intro-container {
    width: 60%;
    padding: 0 6em;
  }
  #about {
    flex-wrap: nowrap;
  }
  #social-cont ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
  }
}
